.page{
    width: 100%;
    display: flex;
    margin: 30px;
    min-height: 500px;
}
.page img{
    width: 30%;
    max-height: 500px;
    object-fit: scale-down;
    display: block;
}
.size{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    height: 100px;
}
.size label{

    margin-left: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 6px;
}
.size label > span{
    padding: 0 10px 0 0;
}

.size-btn input{
    display: block;
}
.size-btn:hover{
    background-color: rgb(141, 141, 137);
    color: aliceblue;
    transition: background-color 0.5s;
}
@media screen and (max-width: 600px){
    .page{
        flex-direction: column;
        margin: 0;
    }
    .page img{
        width: 100%;
    }
    .size{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
}

.page .info{
    margin-left: 20px;
}
label{
    display: block;
    background-color:rgb(236, 230, 230);
    margin-bottom: 10px;
    border: 1px solid rgb(185, 179, 179);
    color: rgb(90, 126, 111);
}

#amount{
    display: block;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    border: 1px solid gray;
}
.submit-btn{
    margin-bottom: 30px;
}
.submit-btn button{
    margin-top: 20px;
    margin-left: 10px;
    transition: background-color 0.5s;
    border-radius: 10px;
    border: 1px solid rgb(179, 175, 175);
    font-size: 20px;
    padding: 8px;
    outline: none;
}
#atc-btn{
    background-color: rgb(190, 51, 0);
    color: aliceblue;
    position: relative;
}
#atc-btn:hover{
    background-color: rgb(245, 103, 51);
}
#buy-now{
    background-color: rgb(37, 160, 119);
    color: aliceblue;
}
#buy-now:hover{
    background-color: rgb(68, 211, 163);
}
#notify{
    opacity: 0;
    position: absolute;
    left: -10%;
    bottom: -150%;
    color: rgb(247, 244, 244);
    width: 200px;
    background-color: gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}
#notify::after{
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #555;
}
#atc-btn .show{
    animation: fadeIn 2s;
    animation-fill-mode: backwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}

}